.navbar{
    background-color: #DEC085 !important;
}

.bild{
    width: 100%;
    margin-top: 5%;
    border-radius: 1em;
}

.navbarcenter{
    background-color: #DEC085;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: #DEB485;
    color: black;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    position: fixed;
}

.navbarblue{
    background-color: #DEC085 !important;
}

.navbar-brand img{
    
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}   
.nav-item a {
    font-size: 1.2em;
    margin: 0 .5em 0 .5em;
}
.dropdown-item{
    margin: 0 !important;
}

.navbar-brand img{
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

@media (min-width: 1200px){
    .navbarcenter{
        max-width: fit-content;
    }
}

h1{
    text-align: center;
    margin-top: 0.2em;
    font-family: 'Architects Daughter', cursive;
    font-size: 70px;
    position: absolute;
    margin-top: 3%;
    z-index: 10;
    color: #FAEBC6;
}

@media (min-width: 1200px){
    .h1{
        margin-left: 0em !important;
    }
}

.pic{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
}

body{
    background-color: white;
}

.nav-link{
    padding-left: 100em;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    border-style: inset;
    background-color: gray;
    margin-top: 1em;
}

.p2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    border-style: inset;
    background-color: gray;
    margin-top: 1em;
    margin-bottom: 2em;
}